.html, body {
}

.container {
  /*disable scroll (only permitted by js action)*/
  overflow: hidden;
  /*scroll-behavior: smooth;*/
  white-space: nowrap;
  max-height: 100vh;

  /*internal border*/
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 3px;
  border: 4px solid yellow;
}

.map {
  padding: 100px;
  width: 4000px;
  height: 4000px;
  /*graph paper like view*/
  background-size: 40px 40px;
  background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px);
}

.player {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: purple;
  width: 20px;
  height: 50px;
  /*internal border*/
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid black;
}
